@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
}

#header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px white solid; */
    height: 50vh;
}